<body>
    <div class="container">
        <div class="row">

            <div class="col-12 py-4">
                <h1 class="display-5">Registro de Estudiantes</h1>
                <button class="btn btn-primary" style="margin: 10px" routerLink="/listado" routerLinkActive="active">Lista de Estudiantes</button>
                <button class="btn btn-primary" style="margin: 10px" routerLink="/registro" routerLinkActive="active">Agregar Estudiante</button>
            </div>
        </div>
    </div>
</body>